@model IEnumerable<EventsKob.Models.Event>
@{
    ViewBag.Title = "Home Page";
}

<ul class="events">
    @foreach (var eventModel in Model)
    {
        <li>
            <div class="date">
                <div class="month">
                    @eventModel.DateTime.ToString("MMM")
                </div>
                <div class="day">
                    @eventModel.DateTime.ToString("d ")
                </div>
            </div>
            <div class="details">
                <span class="eventMaker">
                    @eventModel.EventMaker.Name
                    <button data-eventMaker-id ="@eventModel.EventMakerId" class="btn btn-default btn-xs js-toggle-follow">Follow</button>
                </span>
                <span class="genre">
                    @eventModel.Genre.Name
                </span>
                <button data-event-id ="@eventModel.Id" class="btn btn-default btn-sm js-toggle-attendance">Going ?</button>
            </div>
        </li>

    }
</ul>

@section scripts
{
    <script>
        $(document).ready(function() {
            $(".js-toggle-attendance").click(function (e) {
                var button=$(e.target);
                $.post("/api/attendances", { eventId: button.attr("data-event-id")})
                    .done(function() {
                        button
                            .removeClass("btn-default")
                            .addClass("btn-secondary")
                            .text("Going");
                    })
                    .fail(function() {
                        alert("Something failed!");
                    });
            });

            $(".js-toggle-follow").click(function (e) {
                var button=$(e.target);
                $.post("/api/follows", { eventMakerId: button.attr("data-eventMaker-id")})
                    .done(function() {
                        button
                            .removeClass("btn-default")
                            .addClass("btn-secondary")
                            .text("Following");
                    })
                    .fail(function() {
                        alert("Something failed!");
                    });
            });
        });

    </script>
}